@charset "UTF-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

header {
    margin: 0;
}

body {
    margin: 0;
}


.billboard {
  overflow: hidden;
  background-image: url(../img/billboard-pointer.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 5em;
  width: 100%;
}

.push-cta {
    margin-top: 8rem;
    margin-bottom: 2rem;
}

.txt-shadow {
  text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
}

.download-button {
    border:3px solid currentColor;
    border-radius: 8px;
    font-size: 22px;
    font-family: "hind", sans-serif;
    padding: 8px 14px 8px 14px;
    text-decoration: none;
    display:inline-block;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.1);
    font-weight:bold;
    color: #FFFFFF;
    background-color: rgba(150,60,0,0.1);
}

.download-button:hover{
    cursor: pointer;
    border:3px solid #3C2828;
    background-color: rgba(255,200,200,0.2);
    color: #3C2828;
}

.white-txt {
  color: white;
}
