@charset "UTF-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

header {
    margin: 0;
}

body {
    margin: 0;
}

.nav-bar {
  background-color: #dfe7f0;
}

.logo-btn-off {
    height: 100px;
    width: 170px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: transparent url("../img/logo-off.svg") no-repeat center center;
    padding: 0;
    margin: 20px;
    border: 0;
    z-index: 100;
}

.logo-btn-on {
    height: 100px;
    width: 170px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: transparent url("../img/logo-col.svg") no-repeat center center;
    padding: 0;
    margin: 20px;
    border: 0;
    z-index: 100;
}


/*
.logo-btn {
  background: url("../img/logo-brn.svg" no-repeat center center);
  height: 1.5rem;
  width: 2.5rem;
  overflow: hidden;
  white-space: nowrap;
  margin:20px;
}
*/

nav ul {
    padding: 0;
    margin: 0;
}

nav li {
    background-color: #EDF4F9;
    border-bottom: 1px solid white;
    text-decoration: none;
    list-style: none;
}

nav a {
    display: block;
    text-decoration: none;
    color: #9EAEBC;
    width: 100%;
    padding: 25px 35px;
}

nav a:hover {
    background-color: white;
}

/*
.panel-wrapper {
    max-height: 0em;
    overflow: hidden;
    transition: all 250ms ease-out;
}
*/



/* speech bubble css demo here: http://nicolasgallagher.com/pure-css-speech-bubbles/demo/default.css */

/*styles speech bubble container*/

/*
.panel-wrapper {
    position: relative;
    width: 50%;
    padding 30px;
    left: 35px;
    margin: 1em 0 3em;
    border: 5px solid #C4D6E8;
    color: #4F4242;
    background: white;
    -webkit-border-radius:10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    display: none;
}

.js-panel-wrapper-open {
    display: block;
}
*/

/*

.panel-wrapper {
    position: relative;
    width: 50%;
    padding 30px;
    left: 35px;
    margin: 1em 0 3em;
    border: 5px solid #C4D6E8;
    color: #4F4242;
    background: white;
    -webkit-border-radius:10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    max-height: 0;
    overflow: hidden;
    transition: all 250ms ease-out;
}

.js-panel-wrapper-open {
    max-height: 10em;
}
*/

.panel-wrapper {
    position: relative;
    width: 50%;
    padding 30px;
    left: 35px;
    margin: 0;
    border: 5px solid #C4D6E8;
    color: #4F4242;
    background: white;
    -webkit-border-radius:10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

/*styles outer border of small triangle*/
.panel-wrapper:before {
    content:"";
    position: absolute;
    top: -20px;
    bottom: auto;
    right: auto;
    left: 40px;
    border-width: 0 20px 20px;
    border-style: solid;
    border-color: #C4D6E8 transparent;
    display: block;
    width: 0;
}

/* styles inner fill of small triangle */
.panel-wrapper:after {
    content:"";
    position: absolute;
    top:-13px;
    bottom: auto;
    right: auto;
    left: 47px;
    border-width: 0px 13px 14px;
    border-style: solid;
    border-color: #EDF4F9 transparent;
    display: block;
    width: 0;
}

.billboard {
  overflow: hidden;
  background-image: url(../img/billboard-pointer.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 5em;
  width: 100%;
}

.push-cta {
    margin-top: 6rem;
    margin-bottom: 2rem;
    padding-left: 5rem;
}

.txt-shadow {
  text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
}

.download-button {
    border:3px solid currentColor;
    border-radius: 8px;
    font-size: 22px;
    font-family: "hind", sans-serif;
    padding: 8px 14px 8px 14px;
    text-decoration: none;
    display:inline-block;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.1);
    font-weight:bold;
    color: #FFFFFF;
    background-color: rgba(190,130,50,0.1);
}

.download-button:hover{
    cursor: pointer;
    border:3px solid #4F4242;
    background-color: rgba(255,200,150,0.1);
    color: #4F4242;
}

.white-txt {
  color: white;
}

.grey-txt {
  color: grey;
}

.beige-txt {
    color: #efe8d6;
}

a {
    text-decoration: none;
}

.beige-ground {
    background-color: #efe8d6;
    width: 100%;
}

.grey-ground {
    background-color: grey;
    width: 100%;
}

.phone1 {
    width: 50px;
    padding: 15% 15% 15% 25%;
    opacity: 0;
}

.js-left-in {
    opacity: 1;
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    -webkit-animation: left-in 1.25s linear forwards;
    animation: left-in 1.25s linear forwards;
}

.slider-wrapper {
    position: relative;
    overflow: hidden;
        overflow-x: hidden;
        overflow-y: hidden;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.slider {
    width: 300%;
    transition: transform 500ms ease;
    -webkit-transition: transform 500ms ease;
    transform: translate3d(-33.33333333333%, 0px, 0px);
}

.slider-img {
    width: 33.33333333333%;
}



.phone-size {
    width: 100%;
}


@-webkit-keyframes left-in {

    0% {
        -webkit-transform: translateX(-1000px);
        }

    60% {
        -webkit-transform: translateX(45px);
    }

    80% {
        -webkit-transform: translateX(51px);
    }

    100% {
        -webkit-transform: translateX(50px);
    }
}

@media only screen and (min-width: 25em) {
  
    
}


@media only screen and (min-width: 38em) {
  
    .logo-btn-off {
        height: 100px;
        width: 170px;
        overflow: hidden;
        text-indent: 100%;
        white-space: nowrap;
        background: transparent url("../img/logo-off-lrg.svg") no-repeat center center;
        padding: 0;
        margin: 20px;
        border: 0;
        z-index: 100;
    }

    .logo-btn-on {
        height: 100px;
        width: 170px;
        overflow: hidden;
        text-indent: 100%;
        white-space: nowrap;
        background: transparent url("../img/logo-col-lrg.svg") no-repeat center center;
        padding: 0;
        margin: 20px;
        border: 0;
        z-index: 100;
    }

    
}


@media only screen and (min-width: 60em) {

}